:root {
  --Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  --base-font-size: 15px;
}
html {
  font-size: var(--base-font-size);
  font-family: "Montserrat", sans-serif;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-top.svg "), url("../images/bg-bottom.svg");
  background-color: var(--Very-Light-Grayish-Blue);
  background-position: top 0% left 100%, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 20%, 20%;
}
.subContainer {
  display: flex;
  height: 60%;
  width: 70%;
}
.pricingTitle {
  margin-bottom: 2.5rem;
  font-size: 3rem;
}

.basic {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.professional {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.master {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.firstPrice {
  font-size: 4rem;
}
.secondPrice {
  font-size: 4rem;
}
.thridPrice {
  font-size: 4rem;
}
.firstBox {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  width: 40%;
  font-size: 1.5rem;
  border-radius: 1rem;
}
.secondBox {
  padding: 1rem;
  /* background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%)); */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  font-size: 1.5rem;
}
.thirdBox {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: space-evenly;
  width: 40%;
  font-size: 1.5rem;
  border-radius: 1rem;
}
hr {
  width: 100%;
  color: var(--Very-Light-Grayish-Blue);
}
.buttion1 {
  padding: 12px;
  width: 23rem;
  border-radius: 5px;
  border-style: none;
  height: 3rem;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  font-style: var(--base-font-size);
  font-size: 1rem;
  font-weight: bold;
}
.togContainer {
  display: flex;
  margin-bottom: 3rem;
  color: var(--Light-Grayish-Blue);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* button over */
.annually {
  margin-right: 15px;
  margin-top: 5px;
}
.month {
  margin-left: 15px;
  margin-top: 5px;
}
.firstBox:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: var(--Very-Light-Grayish-Blue);
  margin-top: -2rem;
  margin-bottom: -2rem;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.firstBox:hover > .buttion1 {
  background-image: linear-gradient(white, white);
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}
.secondBox:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: var(--Very-Light-Grayish-Blue);
  margin-top: -2rem;
  margin-bottom: -2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.secondBox:hover > .buttion1 {
  background-image: linear-gradient(white, white);
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}
.thirdBox:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: var(--Very-Light-Grayish-Blue);
  margin-top: -2rem;
  margin-bottom: -2rem;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.thirdBox:hover > .buttion1 {
  background-image: linear-gradient(white, white);
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}
.currenContainer {
  display: flex;
  align-items: center;
}
.money {
  margin-right: 1rem;
  font-size: 2rem;
}
